<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="email" value="" />
    <add key="password" value="" />
    <add key="date" value="" />
    <add key="roleId" value="" />
    <add key="fromCity" value=""/>
    <add key="toCity" value=""/>
    <add key="language" value="0"/>
  </appSettings>
<connectionStrings>
    <add name="MyDB" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-S1QE0BU;initial catalog=Session1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="SunshineAirlines1.Properties.Settings.Session1ConnectionString"
        connectionString="Data Source=DESKTOP-S1QE0BU;Initial Catalog=Session1;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>